.printed_history--container {
    grid-column: 1 / -1;
    max-height: 10rem;
    display: flex;
    overflow-y: auto;
}

.printed_history--list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0;
    width: 100%;
}

.printed_history--item {
    height: fit-content;
}

.printed_history--item-btn {
    width: 100%;
    max-height: 5rem;
    overflow-y: scroll;
    text-align: left;
    padding: 5px;
    background-color: var(--bg-color);
    border: 1px dotted var(--bg-color-50);
    border-radius: 0.5rem;
}

.print-form {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#content {
    flex-grow: 1;
    min-height: 30rem;
    background-color: var(--bg-color-inverted);
    color: var(--text-color-inverted);
    padding: 0.75rem;
    border-radius: 0.5rem;
}

#submit {
    flex-grow: 1;
    border-radius: 0.5rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}

#submit:disabled {
    opacity: 0.1;
    cursor: not-allowed;
    border: 1px solid var(--bg-color-inverted);
}

#submit:active {
    opacity: 1;
    background-color: var(--bg-color-50);
    color: var(--text-color);
}
